<div class="row mt-4">
    <div class="col-12 table-responsive">
      <table class="table table-bordered" id="invoiceItemsTable">
        <thead>
            <tr>
                <th class="text-center text-white" style="width: 3%;">#</th>
                <th class="text-center text-white" style="width: 20%;">PRODUCT</th>
                <th class="text-center text-white" style="width: 11%;">HSN</th>
                <th class="text-center text-white" style="width: 15%;">QTY</th>
                <th class="text-center text-white" style="width: 12%;">PRICE</th>
                <th class="text-center text-white" style="width: 15%;">TAX (%)</th>
                <th class="text-center text-white" style="width: 9%;">DISCOUNT</th>
                <th class="text-center text-white" style="width: 12%;">TOTAL</th>
                <th style="width: 3%;"></th>
            </tr>
        </thead>
        <tbody id="items-table-body">
            <tr id='tab_row1'>
                <td class="nnum  bg-black text-white" style="text-align: center;">1</td>
                <td>
                    <div class="d-flex">
                        <div class="w-100">
                            <div class="p-0 border-0 bg-none position-relative drop-box" style="display: block;">
                                <!-- <input required type="text" id="item1" value="" name="item_name[]" class="dropdown-toggle form-control text-white item-display" onkeyup="filterFunction($(this).attr('id'))"  data-bs-toggle="dropdown" aria-expanded="false" placeholder="Items.." autocomplete="off">
                                <ul class="dropdown-menu w-100 items-available position-absolute bg-black text-white" id="menu1"  style="overflow-y: auto; height: fit-content;max-height: 40vh; border: 1px solid gray;"> 
                                    {% for i in item %}
                                    <li class="dropdown-item items-options text-white" onclick="getItemDetails($(this).parent().prev().attr('id'),`{{i.item_name}}`)">{{i.item_name}}</li>
                                    {% endfor %}
                                </ul> -->
                                
                                <select class="dropdown-toggle form-control bg-black text-white" data-bs-toggle="dropdown" aria-expanded="false" placeholder="Items.." autocomplete="off"  name="itemname" onkeyup="filterFunction($(this).attr('id'))"  onchange="updateItemDetails(this, '{{ customer_place_of_supply }}', '{{ company_state }}')" style="width: 110px;">
                                    <option selected>Select item</option>
                                    {% for i in item %}
                                        <option value="{{ i.id }}" >{{ i.item_name }}</option>
                                    {% endfor %}
                                </select>


                            </div>
                        </div>
                        <a href="#">
                            <button type="button" class="btn btn-outline-warning ms-1" data-target="#newItem" data-toggle="modal">+</button>
                        </a>
                    </div>
                
                </td>
                <td>
                    <input type="hidden" name="item_id[]" id="itemId1">
                    <input type="text" name='hsn' id="hsn1" placeholder='HSN' class="form-control bg-black text-white HSNCODE" readonly />
                </td>
                <td >
                    <input type="number" name='quantity' id="qty1"  class="form-control bg-black text-white qty mb-1" step=0 min=1 value=0 onchange="changeItemQty(this.id)" required/>
                    <input type="text" id="avl1" style="display: none;">
                    <div class="d-flex text-white" style="font-size: 0.7rem;"><span>Available Qty:</span><span id="qtyspan1" class=''></span></div>
                </td>
                <td>
                    <input type="number" name='price' id="price1" class="form-control bg-black text-white price" step="0.00" min="0" style="display: block;" value=0 readonly />
                    <input type="number" name='priceListPrice[]' id="priceListPrice1" class="form-control bg-black text-white priceListPrice" step="0.00" min="0" style="display: none;" value=0 readonly />
                </td>
                
                <td>
                    <!-- <input type="text"  id="select_tax" placeholder="Tax Rate" class="form-control seltax d-flex"> -->
                    <select name='tax_rate' id="taxGST1" class="form-control bg-black text-white tax_ref tax_ref_gst" style="display: block;" onchange="taxchange(this.id)">
                        <option selected disabled hidden>Select GST</option>
                        <option value=28 >28.0% GST</option>
                        <option value=18 >18.0% GST</option>
                        <option value=12 >12.0% GST</option>
                        <option value=5 >05.0% GST</option>
                        <option value=3 >03.0% GST</option>
                        <option value=0 >0.0% GST</option>
                    </select>
                    <select name='tax_rate' id="taxIGST1" class="form-control bg-black text-white tax_ref tax_ref_igst" style="display: none;" onchange="taxchange(this.id)">
                        <option selected disabled hidden >Select IGST</option>
                        <option value=28 >28.0% IGST</option>
                        <option value=18 >18.0% IGST</option>
                        <option value=12 >12.0% IGST</option>
                        <option value=5 >05.0% IGST</option>
                        <option value=3 >03.0% IGST</option>
                        <option value=0 >0.0% IGST</option>
                    </select>
                    <div class="mt-1" style=" text-align: center;color: red;" ><span id="invalidtax1" style="display: none;"> Invalid Tax %</span> </div>    
                </td>
                <td >
                    <input type="number" name='discount'  placeholder='Enter Discount' id="disc1" value=0 class="form-control bg-black text-white disc" step='any' min=0  />
                </td>

                <td><input type="number" name='total' id="total1" class="form-control bg-black text-white total" value=0 readonly /></td>
                <td style="display: none;"><input type="hidden" id="taxamount1" class="form-control itemTaxAmount" /></td>
                <td>
                  <i class="fa fa-trash text-danger remove_row" style="cursor: pointer;" title="Remove Row" id="1"></i>
                </td>
            </tr>
        </tbody>
        <tr>
            <td colspan="9"><a class="btn btn-outline-warning ms-1" role="button" id="add" >+</a></td>
        </tr>
      </table>
    </div>
  </div>


<script>
    var itemDetails = {
        {% for i in item %}
            "{{ i.id }}": { 
                "hsn": "{{ i.hsn_code }}", 
                "price": "{{ i.selling_price }}", 
                "intrastate_tax": "{{ i.intrastate_tax }}", 
                "interstate_tax": "{{ i.interstate_tax }}", 
                "place_of_supply": "{{ i.place_of_supply }}" 
            },
        {% endfor %}
    };

    function updateItemDetails(selectElement, customerPlaceOfSupply, companyState) {
        var selectedItemId = selectElement.value;
        var itemDetail = itemDetails[selectedItemId];
        if (itemDetail) {
            document.getElementById('hsn1').value = itemDetail.hsn;
            document.getElementById('price1').value = itemDetail.price;
            var defaultTaxRate;
            if (customerPlaceOfSupply === companyState) {
                // If customer's place of supply is the same as company state
                defaultTaxRate = itemDetail.intrastate_tax;
            } else {
                // If customer's place of supply is different from company state
                defaultTaxRate = itemDetail.interstate_tax;
            }
            document.getElementById('taxGST1').value = defaultTaxRate;
        } else {
            document.getElementById('hsn1').value = '';
            document.getElementById('price1').value = '';
            document.getElementById('taxGST1').value = '';
        }
    }

    function sample1() {
        console.log("Sample function for tax rate calculation.");
    }

    function sample() {
        console.log("Sample function for discount calculation.");
    }

    function deleteContact(buttonElement) {
        console.log("Sample function for deleting contact.");
    }
</script> 